/*GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,400&display=swap');
*,::before,::after{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.change-theme{
    position: absolute;
    right: 1rem;
    top: 1.8rem;
    color: #707070;
    font-size: 1rem;
    cursor: pointer;
}
body{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family:'Poppins', sans-serif ;
    background-color:rgb(243, 243, 243) ;
    color: black;
    line-height: 1.6;
}

h1,h2,h3,p,ul{
    margin: 0;
}

ul{
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}


/*--------NAVIGATION SECTION--------*/
.nav{
    max-width: 1024px;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width:768px){
    .nav_menu{
        position: fixed;
        top:-100%;
        left: 0;
        width: 100%;
        padding: 1.5rem 0 1rem;
        text-align: center;
        background-color:#1D2521;
        transition: 4s;
        box-shadow: 0 4px 4px rgba(0,0,0,.1);
        border-radius: 0 0 1rem 1rem;
        z-index: 100;
    }
}

.nav_item{
    margin-bottom: 1rem;
}

.nav_link, .nav_logo, .nav_toggle{
    color: #C7D1CC;
    font-weight: 500;

}

.nav_logo:hover{
    color: #069C54;
  }
  
.nav_link{
    transition: .3s;
}
  
.nav_link:hover{
    color: #069C54;
}
  
.nav_toggle{
    font-size: 1.3rem;
    cursor: pointer;
}

/*-------Show menu section--------*/
.show-menu{
      top: 3rem;
}

/*-----Active menu section-------*/
.active-link{
      color:#069C54 ;
}

/*-----Background header-----*/
.scroll-header{
      box-shadow:0 2px 4px rgba(0,0,0,.1) ;
}

/*-----Scroll top section------*/
.scrolltop{
    position: fixed;
    right: 1rem;
    bottom: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3rem;
    background-color: rgba(6,156,84,.5);
    border-end-start-radius: .4rem;
    z-index: 10;
    transition: .4s;
    visibility: hidden;
}

.scrolltop:hover{
    background-color:  #048654;

}

.scrolltop_icon{
    font-size: 1.8rem;
    color:  #1D2521;
}

.show-scroll{
    visibility: visible;
    bottom: 1.5rem;
}

/*------HOME SECTION--------*/

.home_container{
    height: calc(100vh - 3.rem);
    align-content: center;
}
  
.home_title{
    font-size:2,25rem;
    color: #069C54;
    margin-bottom: 5rem;
}
  
.home_subtitle{
    font-size:1.5rem;
    color: #F1F3F2;
    margin-bottom: 2rem;
}
  
.home_img{
    width: 300px;
    justify-self: center;
}

/*--------END OF HOME SECTION---------*/

/*--------ABOUT SECTION-----------*/

.about_data{
    text-align: center;
}

.about_description{
    margin-bottom: 1.5rem;

}

.about_img{
    width: 280px;
    border-radius: .5rem;
    justify-self: center;
}

/*--------END OF ABOUT SECTION--------*/

/*--------SERVICES SECTION-----------*/

.services_container{
    row-gap: 2.5rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.services_content{
    text-align: center;
}

.services_img{
    width: 64px;
    height: 64px;
    fill: #069C54;
    margin-bottom: 1rem;
}

.section{
    padding: 4rem 0 2rem;
}

.section-title, .section-subtitle {
    text-align: center;
}

.services-title{
    font-size: 1rem;
    color: #393939;
    margin-bottom: .5rem;
}
 
.section-subtitile{
    display: block;
    color: #069C54;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.services_description{
    padding: 0 1.5rem;
}


/*--------END OF SERVICES SECTION-------*/

/*--------MENU SECTION-----------*/
.menu_container{
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
}

.menu_content{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #27302C;
    border-radius: .5rem;
    box-shadow: 0 2px 4px rgba(3,74,40, 15);
    padding: .85rem;
}

.menu_img{
    width: 100px;
    align-self: center;
    margin-bottom: 1rem;
}

.menu_name, .menu_price{
    font-weight:40px ;
    color: rgb(247, 255, 251);
}

.menu_name{
    font-size:20px ;
}

.menu_detail, .menu_price{
    font-size: 18px;
}

.menu_detail{
    margin-bottom: 1rem;
}

.menu_button{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    padding: .625rem .813rem;
    border-radius: .5rem 0 .5rem 0;
}


/*-------END OF MENU SECTION------*/

/*-------CONTACT SECTION----------*/

.contact_container{
    text-align: center;
}

.contact_description{
    margin-bottom: 1.5rem;
}



/*-------END OF CONTACT SECTION------*/

/*--------LAYOUT SECTION----------*/

.bd-container{
    max-width: 960px;
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
}

.bd-grid{
    display: grid;
    gap: 1.5rem;
}

.l-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #FBFEFD;
}

/*-------END OF LAYOUT SECTION-------*/

/*-------HOME SECTION---------*/
.home_container{
    height: calc(100vh - 3rem);
    align-content: center;
}
  
.home_title{
    font-size:2.25rem;
    color: #069C54;
    margin-bottom: .5rem;
}
  
.home_subtitle{
    font-size: 1.5rem;
    color:#393939;
    margin-bottom: 2rem;
}
  
.home_img{
    width: 300px;
    justify-self: center;
}



/*-------END OF HOME SECTION--------*/

/*-------BUTTONS----------*/
.button{
    display: inline-block;
    background-color: #069C54;
    color: #FFF;
    padding: .75rem 1rem;
    border-radius: .5rem;
    transition: .3s;
}

.button:hover{
    background-color: #048654;
}

/*-------FOOTER SECTION-------*/

.footer_container{
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    row-gap: 2rem;
  }
  
  .footer_logo{
    font-size: 1.25rem;
    color:#069C54;
    font-weight: 12PX;
  }
  
  .footer_description{
    display: block;
    font-size: 813rem;
    margin: .25rem 0 1.5rem;
  }
  
  .footer_social{
    font-size: 1.5rem;
    color: #F1F3F2;
    margin-right:1rem;
  }
  
  .footer_title{
    font-size: 1.25rem;
    color: #393939;
    margin-bottom: 1rem;
  }
  
  .footer_link{
    display: inline-block;
    color: var(--text-color);
    margin-bottom: var(--mb-1);
  }
  
  .footer_link:hover{
    color:#707070;
  }
  
  .footer_copy{
    text-align: center;
    font-size: 813rem;
    color: #A6A6A6;
    margin-top: 3.5rem;
  }
  



/*-------END OF FOOTER SECTION-------*/

/*--------MEDIA QUERIES SECTION-------*/
@media screen and (min-width:576px) {
    .home_conatiner, .about_conatiner {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .about_data, .about_initial, .contact_container, .contact_initial{
        text-align: initial;
    }

    .about_img {
        width: 380px;
        order: -1;
    }

    .contact_container{
        grid-template-columns: 1.75fr 1fr;
        align-items: center;
    }

    .contact_button{
        justify-self: center;
    }
}





/*--------END OF MEDIA QUERIES SECTION-------*/

