/*GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,400&display=swap');

body{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family:'Poppins', sans-serif ;
    background-color:wheat ;
    color: black;
    line-height: 1.6;
}

h1,h2,h3,p,ul{
    margin: 0;
}

ul{
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}


/*--------NAVIGATION SECTION--------*/
.nav{
    max-width: 1024px;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width:768px){
    .nav_menu{
        position: fixed;
        top:-100%;
        left: 0;
        width: 100%;
        padding: 1.5rem 0 1rem;
        text-align: center;
        background-color:#1D2521;
        transition: 4s;
        box-shadow: 0 4px 4px rgba(0,0,0,.1);
        border-radius: 0 0 1rem 1rem;
        z-index: 100;
    }
}

.nav_item{
    margin-bottom: 1rem;
}

.nav_link, .nav_logo, .nav_toggle{
    color: #C7D1CC;
    font-weight: 500;

}

.nav__logo:hover{
    color: #069C54;
  }
  
.nav__link{
    transition: .3s;
}
  
.nav__link:hover{
    color: #069C54;
}
  
.nav__toggle{
    font-size: 1.3rem;
    cursor: pointer;
}

/*-------Show menu section--------*/
.show-menu{
      top: 3rem;
}

/*-----Active menu section-------*/
.active-link{
      color:#069C54 ;
}

/*-----Background header-----*/
.scroll-header{
      box-shadow:0 2px 4px rgba(0,0,0,.1) ;
}

/*-----Scroll top section------*/
.scrolltop{
    position: fixed;
    right: 1rem;
    bottom: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3rem;
    background-color: rgba(6,156,84,.5);
    border-end-start-radius: .4rem;
    z-index: 10;
    transition: .4s;
    visibility: hidden;
}

.scrolltop:hover{
    background-color:  #048654;

}

.scrolltop_icon{
    font-size: 1.8rem;
    color:  #1D2521;
}

.show-scroll{
    visibility: visible;
    bottom: 1.5rem;
}

/*------HOME SECTION--------*/

.home__container{
    height: calc(100vh - var(--header-height));
    align-content: center;
  }
  
  .home__title{
    font-size: var(--biggest-font-size);
    color: var(--first-color);
    margin-bottom: var(--mb-1);
  }
  
  .home__subtitle{
    font-size: var(--h1-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-4);
  }
  
  .home__img{
    width: 300px;
    justify-self: center;
  }

/*--------END OF HOME SECTION---------*/